<div class="card shadow p-3 mb-5 bg-white rounded">

<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>


<table class="table">
<% if @customer.orders.present?%>
 <tr>
      <th class="col-2">Product</th>
      <th class="col-7">Count</th>
  </tr>
  <%end%>
<%@customer.orders.each do |order|%>
 <%= render partial: "orders/orders", locals: {order: order} %>
 <%end%>
 </table>
</div>


<br>
<br>
<%= link_to 'Edit', edit_customer_path(@customer), class: "btn btn-secondary text-white"  %> |
<%= link_to 'Back', customers_path, class: "btn btn-secondary" %>


